body{
   /* background-color: rgb(255, 213, 74); */
    background-image: url("https://i.blogs.es/6e47b3/simple-desktops/450_1000.png");
    
}

p{
    color:rgb(0, 0, 0);
    font-size: 30px ;
}

li{
    color:rgb(0, 0, 0);
    font-size: 30px ;
}

img{
    float: right;
}

#intro{
    text-align:center;
}

#titulo{
    color:rgb(0, 0, 0);
    font-size: 50px ;
    text-align:center;
    background-color: seashell;
    padding: 0px;
}

#titulo_integrantes{
    color:rgb(0, 0, 0);
    font-size: 50px ;
    text-align:center;
    background-color: seashell;
    padding: 0px;
    
}